@charset "utf-8";
/* CSS Document */
body{background:none}
#PopUp{width:770px;height:565px;position:absolute;z-index:99;left:50%;top:50%;margin:-300px 0 0 -400px;background:#f6f9fb;padding:20px 15px 15px;}
.PopClose{position:absolute;right:5px;top:5px;cursor:pointer}
.PopTitle{width:100%;line-height:29px;background:url(../Images/PopTit.png) repeat-x;border:1px solid #d6a474;color:#bd411f;font-weight:bold;letter-spacing:1px;padding:1px 0 0 0}
.PopBox{padding:10px 0.5% 0 0.5%;width:99%;overflow:hidden;height:500px}

.ModTab{width:100%;border:none;background:#b5d4e6;line-height:200%;}
.ModTab td{padding:6px;}
.ModTab td .Enter{width:72%;height:21px;border:1px solid #c3c3c3;background:#fff;padding:0 0 0 5px;color:#666}

.ModTab .Ltd{text-align:right;background:#f5f9fa;font-weight:bold;color:#4e7a9e;width:15%}
.ModTab .Rtd{text-align:left;background:#f9fbfd;width:35%}
.ModTab .ButBox{background:#fff;padding:8px 0;width:100%;text-align:center} 
.ModTab .ButBox p{margin:0 auto;width:300px}

.ButBox a{width:135px;text-align:center;line-height:32px;font-size:14px;font-weight:bold;margin:0 5px;float:left}
.ButBox .Submit{color:#ab0b0b;text-shadow:0 1px #ffe8bb;background:url(../../Images/SubmitN.png);font-size:16px;}
.ButBox .Submit:hover{background:url(../../Images/SubmitA.png); font-size:16px;}
.ButBox .Return{color:#777;text-shadow:0 1px #fff;background:url(../../Images/ReturnN.png);font-size:16px;}
.ButBox .Return:hover{background:url(../../Images/ReturnA.png);font-size:16px;}

.ViewBox .Rtd{color:#333}

.ViewBox{width:100%;border:none;background:#b5c5e6;line-height:200%;}
.ViewBox td{padding:6px;}
.ModTab td .Enter{width:72%;height:21px;border:1px solid #c3c3c3;background:#fff;padding:0 0 0 5px;color:#666}

.ViewBox .Ltd{text-align:right;background:#f5f6fa;font-weight:bold;color:#59719a;width:15%}
.ViewBox .Rtd{text-align:left;background:#fdfdff;width:35%}
.ViewBox .ButBox{background:#fff; padding:8px 0 8px 40%} 