<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="daabProviders" type="StarTech.DBUtility.DAABSectionHandler, StarTech.DBUtility" />
  </configSections>
  <daabProviders>
    <daabProvider name="DB_Instance" connKey="HzstConnString" type="sqlserver" />
  </daabProviders>
  <connectionStrings>
    <add name="HzstConnString" connectionString="server=.;database=NG_WeiXinCTTX;uid=sa; pwd=Waep8ho311825;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--微信设置-->
    <!--<add key="WeiXin_AppId" value="wx68e162b987258*****" />-->
    <add key="WeiXin_AppId" value="wx929390dd60452595" />
    <!--<add key="WeiXin_AppSecret" value="55079bb2c36c56297ab05a4e457*****" />-->
    <add key="WeiXin_AppSecret" value="2640a93dd4c58da904580f3b3983e125" />
    <!--微信日志3开启;0关闭-->
    <add key="WeiXin_LogLevel" value="3" />
    <!--微信推送模板id（分享成功）-->
    <add key="share_template_id" value="19ziuKJhRshfoArJrEUEwkg9gt6McIg5Grpnb1q1Xk*****" />
    <!--微信推送模板id（学习任务提醒）-->
    <add key="study_template_id" value="8lGahZgq6-HbEVwHUubxbpKG4PgbXznerNAe24EVjU*****" />
    <!--微信推送模板id（学习计划提醒）-->
    <add key="notice_template_id" value="2kUTQ83tY-pLzczbgIH1ywWTnrlLhDxyYN_GUxuxik*****" />
    <!--首页分类编号start-->
    <add key="KJJC_ID" value="1001" />
    <add key="SFKS_ID" value="1029" />
    <add key="SCKC_ID" value="1031" />
    <add key="GLKJ_ID" value="1032" />
    <add key="CWZX_ID" value="188" />
    <add key="GLZX_ID" value="189" />
    <add key="SWKJ_ID" value="1048" />
    <add key="WEID_ID" value="0" />
    <!--首页分类编号end-->
    <!--新闻列表（咨询）目录编号-->
    <add key="ZX_CategoryID" value="190" />
    <!--新闻列表（资源库）跟目录编号-->
    <add key="ZYK_CategoryID" value="182" />
    <!--新闻列表（帮助中心）目录编号-->
    <add key="BZZX_CategoryID" value="184" />
    <!--新闻列表（客服&售后）目录编号-->
    <add key="KFSH_CategoryID" value="185" />
    <!--新闻列表（商务合作）目录编号-->
    <add key="SWHZ_CategoryID" value="186" />
    <!--新闻列表（订购咨询问答）目录编号-->
    <add key="DGZX_CategoryID" value="190" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="4960000" appRequestQueueLimit="60" executionTimeout="60" requestValidationMode="2.0" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
